<h1>More about us!</h1>
<h2>About Le Wagon</h2>
<p>Founded in 2013, Le Wagon is a coding school that brings techincal skills to creative people!</p>
<a href="#" class="btn btn-primary">Click here for more info</a>
